* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: 'Karla', sans-serif;
}

.correctAnswer {
  display: none;
}

.question-block {
  border-bottom: 0.79px solid #DBDEF0;
  margin-bottom: 2rem;
}

.question-block > p {
  font-family: 'Karla', sans-serif;
  margin-bottom: 12px;
}

.answer-list {
  display: flex;
  margin-bottom: 15px;
}

.answer {
  margin-right: 12.71px;
  border: 1px solid #293264;
  color: #293264;
  font-size: 10.24px;
  font-weight: 500;
  padding: 12px;
  border-radius: 7.71px;
}

.answer:hover,
.answer:focus {
  background: #D6DBF5;
  cursor: pointer;
}

.submit {
  background: #4D5B9E;
  color: white;
  padding: 10px 22px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.selected {
  background-color:#D6DBF5;
}

.correctAnswer {
  background-color: #94D7A2;
}

.wrongAnswer {
  background-color: #F8BCBC;
}

.notSelected {
  background-color: white;
}